.App {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  @extend #flex-row-end-start;
  @media screen and (max-width: $sm) {
    display: block;
  }
  &__details {
    flex: 3;
    padding: $spacing;
    max-width: 100%;

    h1 {
      @extend #fontExtra;
      @extend #colorMain;
    }
  }

  &__content {
    flex: 7;
    max-width: 100%;
    @media screen and (min-width: $sm) {
      height: 100vh;
    }
  }
}
