.App {
  @extend #flex-row-end-start;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;

  &__details {
    flex: 3;
    padding: $spacing;

    h1 {
      @extend #fontExtra;
      @extend #colorMain;
    }
  }

  &__content {
    flex: 7;
    height: 100vh;
  }
}
