#userStyle {
  @extend #flex-row-center-start;
  font-weight: 300;
  background: none;
  border: none;
  padding: $smallSpacing;
  font-size: $fontLarge;
  line-height: $fontLarge;
  margin: 0;
  transition: $mainTransition;
  box-sizing: border-box;
  // height: 39px;
}

.User {
  @extend #flex-row-start;
  position: relative;
  margin-bottom: $smallSpacing;
  max-width: calc( 100vw - 1rem );
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    max-width: 40rem;
  }
  &:hover, &:focus {
    color: $grey;
    outline: none;
  }
  &__element {
    @extend #userStyle;
    width: 100%;
    outline: none;
    max-width: 28rem;
    &:focus {
      background: none;
      outline: none;
    }
    &.done {
      text-decoration: line-through;
      color: $mainLight;
    }
  }
  &__input {
    background: white;
    border: none;
    color: $main;
    max-width: 28rem;
    width: 100%;
    font-size: $fontLarge;
    line-height: $fontLarge;
    outline: none;
    &::placeholder {
      color: $accent;
    }
    &:focus {
      background: none;
      outline: none;
    }
  }

  &__actionContainer {
    @extend #flex-row-start;
  }

  &__action {
    @extend #userStyle;
    cursor: pointer;
    @media screen and (max-width: $sm) {
      font-size: $fontSmall;
    }
    &:focus, &:hover {
      outline: none;
      color: $grey;
    }
  }
}
