//TODO: [@nmuhamedagic]: load the fonts as assets
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,400i,700,700i,900');

body {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-weight: 900;
  font-size: $h1;
}

h2 {
  font-weight: 900;
  font-size: $h2;
}

h3 {
  font-weight: 900;
  font-size: $h3;
}

h4 {
  font-weight: 900;
  font-size: $h4;
}

#extra {
  font-size: $fontExtra;
  font-weight: 900;
}
