// Title sizes
$fontExtra: 3rem;
$font: 1rem;
$fontSmall: 0.8rem;
$fontLarge: 1.2rem;

$h1: 2rem;
$h2: 1.8rem;
$h3: 1.6rem;
$h4: 1.4rem;
$h5: 1.2rem;

$h3lh: 2rem;
// Spacings
$largeSpacing: 1.2rem;
$spacing: 1rem;
$altSpacing: 0.725rem;
$smallSpacing: 0.5rem;
$xSmallSpacing: 0.425rem;

// Transitions
$mainTransition: all .3s ease;

// Common
$hoverOpacity: 0.7;
