// Title sizes
$fontExtra: 3rem;
$font: 1rem;
$fontSmall: 0.8rem;

$h1: 2rem;
$h2: 1.8rem;
$h3: 1.6rem;
$h4: 1.4rem;
$h5: 1.2rem;

$h3lh: 2rem;
// Paddings
$mainPadding: 1.2rem;
$altPadding: 0.725rem;

// Margins
$mainMargin: 1rem;
$smallMargin: 0.5rem;
$xSmallMargin: 0.425rem;

// Transitions
$mainTransition: all .3s ease;

// Common
$hoverOpacity: 0.7;
