@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,400i,700,700i,900");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#colorAlt,
.colorAlt {
  color: #EA1C31; }

#colorMain, .App__details h1,
.colorMain {
  color: #801CA2; }

#colorAccent,
.colorAccent {
  color: #50B0A6; }

body {
  font-family: 'Raleway', sans-serif; }

h1 {
  font-weight: 900;
  font-size: 2rem; }

h2 {
  font-weight: 900;
  font-size: 1.7rem; }

h3 {
  font-weight: 900;
  font-size: 1.6rem; }

h4 {
  font-weight: 900;
  font-size: 1.4rem; }

#fontExtra, .App__details h1 {
  font-size: 3rem;
  font-weight: 900; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #FEFBF7; }

img {
  max-width: 100%; }

#flex-row-center {
  display: flex;
  align-items: center;
  justify-content: center; }

#flex-row-start, .Todo, .Todo__actionContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start; }

#flex-row-center-start, #todoStyle, .Todo__element, .Todo__action {
  display: flex;
  align-items: center;
  justify-content: flex-start; }

@media screen and (min-width: 768px) {
  #flex-row-end-start, .App {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start; } }

.App {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box; }
  @media screen and (max-width: 768px) {
    .App {
      display: block; } }
  .App__details {
    flex: 3;
    padding: 1rem;
    max-width: 100%; }
  .App__content {
    flex: 7;
    max-width: 100%; }
    @media screen and (min-width: 768px) {
      .App__content {
        height: 100vh; } }

.Todos {
  padding: 1rem;
  height: 100vh;
  box-sizing: border-box;
  overflow-y: scroll;
  max-width: 100vw; }

#todoStyle, .Todo__element, .Todo__action {
  font-weight: 300;
  background: none;
  border: none;
  padding: 0.5rem;
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin: 0;
  transition: all 0.3s ease;
  box-sizing: border-box; }

.Todo {
  position: relative;
  margin-bottom: 0.5rem;
  max-width: calc( 100vw - 1rem);
  border: none;
  background: none;
  padding: 0;
  cursor: pointer; }
  @media screen and (min-width: 768px) {
    .Todo {
      max-width: 40rem; } }
  .Todo:hover, .Todo:focus {
    color: #888888;
    outline: none; }
  .Todo__element {
    width: 100%;
    outline: none;
    max-width: 28rem; }
    .Todo__element:focus {
      background: none;
      outline: none; }
    .Todo__element.done {
      text-decoration: line-through;
      color: #D62EB2; }
  .Todo__input {
    background: white;
    border: none;
    color: #801CA2;
    max-width: 28rem;
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.2rem;
    outline: none; }
    .Todo__input::placeholder {
      color: #50B0A6; }
    .Todo__input:focus {
      background: none;
      outline: none; }
  .Todo__action {
    cursor: pointer; }
    @media screen and (max-width: 768px) {
      .Todo__action {
        font-size: 0.8rem; } }
    .Todo__action:focus, .Todo__action:hover {
      outline: none;
      color: #888888; }
